<section class="todoapp">
    <header class="header" ng-show="context">
        <h1 ng-show="context">{{context.userCtx.name}}</h1>
    </header>
    <header class="header" ng-hide="context">
    <h1>login</h1>
        <input class="new-todo" name="user" ng-model="user.id" type="text" placeholder="username" required ng-keyup="$event.keyCode == 13 && login()">
        <input class="new-todo" name="password" ng-model="user.password" type="password" placeholder="password" required ng-keyup="$event.keyCode == 13 && login()">
    </header>
    <section class="main" ng-show="context">
        <div class="view" style="word-wrap: break-word;">{{context}}</div>
    </section>
</section>