logs/*
!.gitkeep
node_modules
app/bower_components
_replicator
_users
images
pouch__all_dbs__
release-builds
todos
todos_restricted
tmp
Update.exe
log.txt
.DS_Store
.idea
MyGallery@0.0.1
devoxx2017.iml
e2e-tests/
